body {
  font-family: "Raleway", sans-serif;
}
p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}
.inside {
  position: relative;
}
.container {
  position: absolute;
  color: #222831;
  font-size: 2.26rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: movement 8s;
  top: 50%;
  left: 50%;
  margin: -57px 0 0 -239px;
}

#about-me {
  position: absolute;
  color: #222831;
  font-size: 1.2rem;
  text-align: left;
  top: 50%;
  left: 50%;
  width: 500px;
  margin: -138px 0px 0px -690px;
  line-height: 1.5;
  opacity: 0;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #00adb5;
  color: #222831;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #222831;
  color: #00adb5;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

#table {
  position: absolute;
  top: 25%;
  left: 50%;
  margin: -16px 0 0 20px;
  opacity: 0;
}

table {
  padding: 10px;
  margin: auto;
  border: none;
}

td {
  padding: 15px;
  padding-left: 0px;
}
