@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
}
a {
  color: inherit;
  text-emphasis: none;
  text-decoration: none;
}

body {
  background-color: #eeeeee;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}
#pages {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  scroll-snap-type: proximity;
  overflow-x: scroll;
  scroll-margin-left: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#pages section {
  min-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-align: start;
}
